<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
  <title>Телефон</title>
</head>
<body>
<h1>Личный телефон пациента с указанным ID:</h1>
<table>
  <thead>
  <tr>
    <th>Номер телефона</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="phone : ${phones}">
    <td th:text="${phone}"></td>
  </tr>
  </tbody>
</table>

<div class="center">
  <a class="button" href="/main">Back</a>
</div>
</body>
</html>
