<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
  <title>Специализации</title>
</head>
<body>
<h1>Специализации врачей из выбранной больницы</h1>
<table>
  <thead>
  <tr>
    <th>Перечень специализаций</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="specialization : ${specializations}">
    <td th:text="${specialization}"></td>
  </tr>
  </tbody>
</table>

<div class="center">
  <a class="button" href="/main">Back</a>
</div>
</body>
</html>
